/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
 .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.about{
  width: 250px;
  height: 961px;
  background-color: gray;
}

.lang{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.educ{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skl{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.exp{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.namemy{
  margin-left: -90px;
}
.about h1{
  font-size: 16px;
}

.skills{
  width: 305px;
  height: 961px;
  background-color: burlywood;
}

.workskil{
  margin-top: 40px;
}

.language{
  margin-top: 30px;
}

.skills .education h1{
  font-size: 20px;
}

.education{
  
  margin-left: 30px;
}

.experience{
  margin-top: 20px;
}


.line{
  width: 320px;
  height: 1px;
  background-color: gray;
}
.exp{
  
  margin-top: 10px;
}
.workexp{
  background-color: gray;
  width: 900px;
  height: 620px;
  
}

.name{
  margin-left: ;
}
.workexp h1{
  font-size: 15px;
}

.name{
  margin-left: 400px;
  margin-top: 20px;
  
}

.name h1{
  font-size: 30px;
}

.software{
  margin-left: -110px;
}

.myphoto{
  width: 150px;
  margin-left: 260px;
  margin-top: -100px;
  height: 150px;
  border-radius: 70px;
}